body {
  margin: 0;
  background-color: #738fb3;  
}

/*-------------------------
 * STEP2
 *-------------------------*/
#inputmyname{
  display:none;
}

/*-------------------------
 * STEP3
 *-------------------------*/
#chat{
  display:none;
}


/* ヘッダーの固定 */
.header-fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
 
 
.header-bk { 
  background-color:#444;
  padding-top: 10px;
  height:40px;
  width:100%;
}
 

.header { 
  height: 100%;
  width: 100%; 
  margin: auto auto auto 5px;
  color: #FFFFFF;
  font-size:1.3em;
}


/* フッターの固定 */
.footer-fixed{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
 
.footer-bk{
  background-color:#FFF;
  padding:5px 0 0;
  height:195px;
  width:100%;
}
 
.footer { 
  height: 100%;
  width: 100%;
  margin: auto;
}


/* ボディの定義 */
.body-parent{
  width: 100%;
  height: 100%;  
}

.body-bk{
  /* ヘッダー + 5px , フッター + 0px*/
  padding:55px 0 200px 0;
}
 
.body{
  width:100%;
  margin:auto;
  
}

li{
  list-style: none;
  padding: 0 6px 6px 6px;
}

.li-me{
  text-align: right;
}

.span-me{
  /* 改行を読めるようにする */
  white-space: pre-wrap;
  background-clip: border-box;
  background-color: #90EE90;
  border-radius: 8px;
  padding:4px 6px;
  display: inline-block;
  text-align: left;
}

.span-li{
  text-align: left;
}

.span-member{
  /* 改行を読めるようにする */
  white-space: pre-wrap;
  background-color: #fff;
  border-radius: 8px;
  padding:4px 6px;
  display: inline-block;
  text-align: left;
}

.textarea-form{
  resize: none;
  padding: 0.5em;
  font-size: 1.5em;
  border:none;
  border-top: solid 2px #e1e3e8; 
  width:99%;
  height:100%;
}


.textarea-form:focus{
  outline: 0;
}


.footer-right{
  text-align:right;
  margin-right:5px;
  height:34px;
}

.footer-bottom{
  display:inline;
  margin-bottom:0px;
}

#frm-quit{
  cursor: pointer;
  background-color:transparent;
  color: #FFFFFF;
  font-size: 1em;
  border:none;
}

#frm-quit:focus{
  outline:0;
}
